*{
	margin: 0;
	padding: 0;
	font-family:'Poppins', sans-serif;
	box-sizing: border-box;
}

.container{
	width: 100%;
	min-height: 100vh;
	background-color: rgba(255,219,197,255);
	background-size: cover;
	background-position:center;
	padding: 10px 8%;
}

nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}

nav ul{
	width: 100%;
	text-align:right;
	padding-right: 100px;
	font-size: 34px;
	
}

.logo {
    width: auto;
    height: 100px;
	cursor: pointer;
}

/*.icon{
	width: 50px;
	height: auto;
}*/